# `package.json` is published to npm, so everything we add is included in the installed tarball.
# Removing the `files` key and replacing it with this `.npmignore` saves some bytes, which should improve installation performance slightly.

*

!CHANGELOG.md
!LICENSE
!README.md
!SECURITY.md

!dist/index.js
!dist/index.d.ts
!dist/commonjs/**/*
!dist/esm/**/*
!dist/types/**/*
