# `package.json` is published to npm, so everything we add is included in the installed tarball.
# Removing the `files` key and replacing it with this `.npmignore` saves some bytes, which should improve installation performance slightly.

*

!CHANGELOG.md
!LICENSE
!README.md
!SECURITY.md

!dist/cjs/index.js
!dist/cjs/package.json
!dist/esm/index.js
!dist/types/**/*.d.ts
